
@font-face {
    font-family: 'Forma DJR Micro';
    src: local('Forma DJR Micro Regular'), local('Forma-DJR-Micro-Regular'),
        url('FormaDJRMicro-Regular.woff2') format('woff2'),
        url('FormaDJRMicro-Regular.woff') format('woff'),
        url('FormaDJRMicro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

/*iframe, step table;  ul, all chande dimensions*/
.iframepagesbody {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
   /*-webkit-overflow-scrolling: touch;*/   
touch-action: none;
    height:inherit;
    overflow: hidden;
    margin-top: 0px;
       margin-left: 0px;
    background:#000!important;
font-family:'Forma DJR Micro'!important;

		
}



.mainbody { 
/*Main browser page*/
background: #666666!important;
font-family:'Forma DJR Micro' ;

}

iframe

{
 height:185px!important;	
 background:black!important;	
 margin-left:-2px;
 margin-top:-15px;	
 width:220px;	
}


/*PHONE*/


/*main container; or the white area which houses the control pane. Right now it is set to transparent*/

.maincontainer
{
width: 500px;
background: transparent!important;	



 height:300px!important;
  border-radius: 5px;
		
}



/*Set up the Tablet container (shell of the phone) first*/

/* control panel height and width. The borders set the look of the phone while the inside is white */
.tablet {

display: flex;
justify-content: center;
align-items: center;
  width: 200px;
  height: 170px;
  border: 60px solid #212121   ;
  border-radius: 20px;
margin-top: 10px;
margin-left:100px;

}

   


/* The inside screen (or content) of the device where the carousel goes     May need to adjust height or match background color*/
.tablet .content {
  width: 100%;
  height:100%;
border:1px solid #585858;
background:#000;

}


----/*PHONE End*/








/*pages that load inside the iframe*/






.steptitle{  
font-size:14px; 
text-align:center;	
color: #fff;
padding: 10px;
background:#000;
}



.steptable {      /*-webkit-overflow-scrolling: touch;*/   

cellspacing: 0;
cellpadding: 0;	
width: 100%;
margin-left:-1px;


}



.imagetd {
 
text-align: center;
 padding-left: 10px;	
 color: #fff;
 font-size:14px;
 height: 35px;

}

.instructionstd {

padding-left: 0px; 
padding-right: 0px; 
padding-top:0px; 
line-height:18px; 
font-weight:400; 
font-size:14px; 
width: 100%; 
	
color: #fff;
 vertical-align:top;
			
}



.myswiper {
	padding: 0px!important;	
	background: transparent!important; 
	}










@keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}
.progress-bar {
  border-radius: 60px;
  overflow: hidden;
  height:5px;

}
.progress-bar span {
  display: block;
}

.bar {
  background: rgba(0, 0, 0, 0.075);
}

.progress {

  background:  #50B5E4;
  color: #fff;
  padding: 5px;
  width: 0;
}

.progress-bar {
}

