
input[type="checkbox"] {
    display:none;
}


img {
   image-rendering: optimize-contrast;
  image-rendering: -webkit-optimize-contrast; 

}

input[type="checkbox"] + label {
    color:#212121;
font-family: 'Forma DJR Micro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing:2%;
cursor: pointer;

margin-top:-10px;
}

input[type="checkbox"] + label span {
    display:inline-block;
   width:47px;
    height:46px;
    margin:-2px 0px 0 0;
    vertical-align:middle;
    background:url('../imagesveneer/uncheked.png') center no-repeat;
    cursor:pointer;
        background-size: 55%;
   

}

input[type="checkbox"]:checked + label span {
    background:url('../imagesveneer/checked.png') center no-repeat;
     background-size: 55%;


}

input[type="checkbox"]:checked + label span:hover {
    background:url('../imagesveneer/checkedhover.png') center no-repeat;
     background-size: 55%;
             image-rendering: -webkit-optimize-contrast;

}





input[type="radio"] {
    display:none;

}

input[type="radio"] + label {
color:#212121;
font-family: 'Forma DJR Micro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing:2%;
cursor: pointer;

margin-top:-10px;
}

input[type="radio"] + label:hover {

font-weight: bold;
}


input[type="radio"] + label span {
    display:inline-block;
   width:50px;
    height:48px;
    margin:-2px 0px 0 0;
    vertical-align:middle;
    background:url('../imagesveneer/radio.png') center no-repeat;
    cursor:pointer;
        background-size: 50%;
        image-rendering: -webkit-optimize-contrast;
}


input[type="radio"] + label span:hover {
    background:url('../imagesveneer/radiohover.png') center no-repeat;
             background-size: 50%;
             image-rendering: -webkit-optimize-contrast;

}



input[type="radio"]:checked + label span {
    background:url('../imagesveneer/radioselected.png') center no-repeat;
             background-size: 50%;
             image-rendering: -webkit-optimize-contrast;

}

